@font-face {
  font-family: Ginóra;
  src: url("../fonts/Ginóra.otf");
}

.header {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  min-height: 500px;
  margin-bottom: 100px;

  .overlay {
    background-color: rgba(0,0,0,0.23);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 500px;
    height: 90vh;

    h1 {
      font-weight: lighter;
      color: #fff;
      font-size: 2vmin;
      font-size: 5vmax;
      text-shadow: 0 0 10px black;
    }
  }
}

.header.about {
  background-image: url("../img/cleaning-glass-table_1098-11586.jpg");
}

.header.offers {
  background-image: url("../img/4260.jpg");
}

.reservation_sa {
  background-image: url("../img/645.jpg");
}

.header.contact {
  background-image: url("../img/OT2VY70.jpg");
}

.header.parameters {
  background-image: url("../img/nordwood-themes-469906-unsplash.jpg");
}

.header.tickets {
  background-image: url("../img/mike-wilson-200289-unsplash.jpg");
}

.header.gestioncli {
  background-image: url("../img/clientspic.jpg");
}

.header.comptes {
  background-image: url("../img/trent-erwin-338084-unsplash.jpg");
}

.header.inbox {
  background-image: url("../img/inbox.jpg");
}

.header.payement {
  background-image: url("../img/money.jpg");
}

.header.demanderes {
  background-image: url("../img/315.jpg");
}